// Colors
$black: #000000;
$white: #ffffff;
$grey: #666666;
$grey-bg: #f7f7f7;
$grey-border: #cdcdcd;
$grey-title: #cfcfcf;
$grey-logo-footer: #c4c4c4;
$grey-bg-footer: #e2e2e2;
$blue-light: #70d6b8;
$purple: #542d4c;
$pink: #e03a6a;
