.app-about {
	background-image: url('../images/bg-about.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: $purple;
	height: 438px;
	margin: 0;
	.content-about {
		text-align: center;
		color: $white;
		position: relative;
		top:5%;
		h3 {
			font-size: 25px;
			display: inline-block;
			padding-bottom: 20px;
			margin-bottom: 20px;
			position: relative;
			&:after {
				content: "";
				height: 5px;
				width: 85px;
				background-color: $pink;
				position: absolute;
				bottom: 0;
				left: 10px;
			}
		}
		p {
			margin:0 auto;
			width: 75%;
			font-size: 20px;
			line-height: 1.2em;
		}
	}
}
